
/* ============================================================ */
/* Styling for LJ site that is the font style file (font.css)  */
/* ============================================================ */
@font-face {
  font-family: 'Akzidenz Grotesk Roman';
  src: url('../fonts/AkzidenzGrotesk-Roman.ttf');
}

/*@font-face {
  font-family: 'Akzidenz Grotesk Bold';
  src: url('../fonts/AkzidenzGrotesk-Bold.otf');
}*/
@font-face {
  font-family: 'Akzidenz Grotesk Bold';
  /*src: url('../fonts/Berthold Akzidenz Grotesk Bold.otf');*/
  src: url('../fonts/BertholdAkzidenzGrotesk-Bold.otf');
}

@font-face {
  font-family: 'Portrait';
  src: url('../fonts/Portrait-Regular.otf');
}

@font-face {
  font-family: 'Portrait Medium';
  src: url('../fonts/Portrait-Medium.otf');
}

@font-face {
  font-family: 'Akzidenz Grotesk Regular';
  src: url('../fonts/AkzidenzGroteskBE-Regular.otf');
}


/* ============================================================ */
/* Styling for LJ site that is the main style file (style.css)  */
/* ============================================================ */
/* header file (header.css)  */
.header{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.menu {
	padding-top: 25px !important;
	padding-bottom: 0px !important;
}
/* end header.css  */

a:focus, a:hover {
	color: #eb0000;
}
.active-option {
	color: #8a8a8a;
  border-bottom: 1px solid #8a8a8a;
}
.advertisement{
	background-color: #ebebeb;
	padding: 15px;
	text-align: center;
}
.advertisement-white{
	/* padding: 40px 20px 45px 20px; */
	text-align: center;
	margin: 60px 0px;
}
.advertisement-topic {
    padding: 40px 20px 45px 20px;
    text-align: center;
    /* margin: 60px 0px; */
}
.article_column h4{
	font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.article-headline {
	font-family: 'Portrait Medium';
	color: #000000;
}
.article-headline > .recommended {
	font-size: 22pt;
}
.article_type{
	font-size: 18px;
	font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: 5.4px;
  text-align: center;
  color: #000000;
}
.article_topic_type{
  font-size: 12px;
  color: #eb0000;
  margin-bottom: 0px;
  font-weight: bold;
  letter-spacing: 2.4px;
	line-height: 1;
	text-transform: uppercase;
}
.author{
	/* font-size: 14px; */
	margin-top: 10px;
	margin-bottom: 0px;
}
.author > input {
    font-size: 12px;
    padding: 7px;
    width: 85%;
    border: 1px solid #d2d2d2;
}
.author-bio > .author{
	font-family: 'Akzidenz Grotesk Bold';
	font-size: 13pt;
}
.author-bio > p{
	/* padding-top: 10px; */
	font-family: 'Akzidenz Grotesk Roman';
	font-size: 12pt;
}
.benefits-list {
	font-size: 13pt;
}
.benefits-list li{
	padding: 5px;
}
.book-detail .rating {
	width: 20px;
  margin-right: -7px;
	padding-bottom: 5px;
}
.book-headline {
	font-family: 'Portrait Medium';
  color: #000000;
}
.book-headline h3 {
  font-family: 'Portrait Medium';
  color: #000000 !important;
}
.book-headline > h3 {
	font-size: 22pt;
}
.book-list-section .filter > ul {
	font-size: 16px;
}
/* .book-list-section .filter-heading {
	font-size: 16px;
	letter-spacing: 0px;
} */
.book-navigation {
	color: #808080;
	float: left;
	padding: 0px 30px;
	width: 100%;
	/* overflow-y: scroll; */
}
.book-navigation .navbar-default .navbar-nav>li {
    float: left;
}
.book-navigation .navbar-default .navbar-nav>li>a {
    color: #808080 !important;
		padding: 0px;
		margin: 15px 21px;
		padding-bottom: 3px;
}
.book-navigation .navbar-default .navbar-nav>li> .active {
	border-bottom: 3px solid #eb0000;
	padding-bottom: 0px;
}
.book-review {
	width: 100%;
	float: left;
}
.book-review-section {
	width: 100%;
  float: left;
	border-top: 1px solid rgb(197, 194, 194);
  background-color: rgb(235, 235, 235);
}
.book-review-section .revie-count {
	font-size: 19pt;
	font-weight: bold;
	width: 80%;
  float: left;
  padding-left: 5px;
}
.book-review .review-top-line {
    font-family: 'Akzidenz Grotesk Roman';
    font-size: 15pt;
    width: 100%;
    float: left;
}
.book-review .review {
    font-family: 'Akzidenz Grotesk Roman';
    font-size: 12pt;
}
.book-review .review-by {
    border-bottom: 1px solid #eb0000;
}
.book-review .book-detail {
    font-family: 'Akzidenz Grotesk Roman';
}
.book-review .book-description {
    font-family: 'Akzidenz Grotesk Roman';
    font-size: 14pt;
    width: 100%;
    float: left;
}
.book-review .book-headline {
    font-family: 'Portrait Medium';
    font-size: 18pt;
    line-height: 1;
}
.book-review .book-name {
	font-family: 'Portrait Medium';
	font-size: 44px;
	line-height: 1;
	color: #000000;
}
.book-review .book-price-tag {
    border-bottom: 1px solid #eb0000;
}
.book-review .book-tag-line {
    font-size: 14pt;
    font-weight: bold;
}
.book-review .review-tag-line {
    font-size: 14pt;
    font-weight: bold;
}
.book-review .reviewed-in {
    font-family: 'Portrait Medium';
    font-size: 17pt;
    line-height: 1.3;
}
.book-review ul > li > a {
    padding: 3px;
}
.book-review-list ul > li > a{
	padding: 4px;
}
.book-review-list ul > li > a:first-child{
	padding-left: 0px;
}
.book-review-list .book-detail {
	font-family: 'Akzidenz Grotesk Roman';
	font-size: 12pt;
}
.book-review-list .book-description {
    font-family: 'Akzidenz Grotesk Roman';
    font-size: 15pt;
    width: 100%;
    float: left;
}
.book-review-list .book-headline {
    font-family: 'Portrait Medium';
    font-size: 17pt;
    line-height: 1;
}
.book-review-list .book-name {
    font-family: 'Portrait Medium';
    font-size: 23pt;
		line-height: 1;
}
.book-review-list .book-name a {
	color: #000000;
}
.book-review-list .book-price-tag {
    border-bottom: 1px solid #eb0000;
}
.book-review-list .book-tag-line {
		font-family: 'Akzidenz Grotesk Bold';
		font-size: 15px;
	  font-weight: bold;
}
.book-review-image {
	height: 360px;
	width: 100%;
}
/* .book-section {
	padding-left: 20px;
  padding-right: 45px;
} */
.browse-dropdown {
	width: 100%;
  float: left;
  border: 2px solid #000000;
  padding: 7px 10px;
  font-size: 12pt;
}
.btn {
  border-radius: 0px !important;
	font-size: 13px;
	/* letter-spacing: 2px; */
}
.btn-subscribe:hover {
  color: #dc4337;
  background-color: white;
  text-decoration: none;
  border: 1px solid;
}
.btn-black {
    height: 40px;
		font-weight: bold;
    letter-spacing: 2px;
    border: 2px solid #000;
    color: #000;
    background-color: #fff;
    border-color: #000;
}
.btn-comment{
  font-weight: bold;
  font-size: 13px;
  height: 40px;
  letter-spacing: 2px;
  border: 2px solid #000;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
	margin: 10px 0px;
}
.btn-default-black{
	height: 45px;
	letter-spacing: 2px;
	border: 2px solid #000;
	/* border-bottom: 1px solid; */
	color: #000;
	background-color: #fff;
	border-color: #000;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.btn-default-red{
	font-family: 'Akzidenz Grotesk Roman';
	font-size: 13px;
	height: 40px;
	letter-spacing: 2px;
	border: 2px solid #eb0000;
	color: #eb0000;
	background-color: #fff;
	border-color: #eb0000;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 25px;
}
.btn-red {
  color: #fff;
  background-color: #eb0000;
}
.btn-grey-filled {
	height: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  border: 0px solid #000;
  color: #000;
  background-color: #ddd;
  border-color: #000;
  font-size: 11px;
}
.btn-subscribe {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 12px 20px;
	margin-top: 25px;
	margin-bottom: 0;
}
.subscribe-btn-size {
    width: 125px;
    height: 39px;
}
.btn-tag {
	border: 1px solid rgb(197, 194, 194);
	background: #fff;
	padding: 5px 12px;
	margin: 3px 0px;
}
.byline-detail {
	font-family: 'Akzidenz Grotesk Roman';
	font-size: 15px;
}
.byline-detail > .author {
	border-bottom: 1px solid #eb0000;
	font-size: 15px;
}
.byline-detail > .tag {
	border-bottom: 1px solid #eb0000;
	/* font-size: 15pt; */
}
.carousel-development-career .carousel {
	height: 100%;
	max-width: 350px;
	margin: auto;
}
.carousel-development-career .carousel-indicators {
	position: unset;
	margin-top: 0;
	margin-bottom: 25px;
  width: 100%;
  padding-left: 0;
  margin-left: 0px;
  text-align: center;
  /* background: black; */
  list-style: none;
}
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 3px;
    background-color: #db2400;
		border: 1px solid #db2400;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 10px;
}
.carousel-development-career .top-story-heading h3 {
	text-align: center;
  padding: 0px 20px;
}
.carousel-development-career .carousel-inner {
	height: 100%;
}
.carousel-development-career .carousel-inner>.item{
	height: 100%;
}
.carousel-development-career .carousel-inner img {
	width: 100%;
	height: 100%;
}
/* .btn-subscribe:focus {
	color: white;
} */

/* .carousel-indicators li{
	background-color: rgb(218, 218, 218);
	border: 0px;
} */

/* .carousel-indicators li:last-child{
	width: 7px;
	height: 7px;
	margin-bottom: 2px;
} */

/* .carousel-indicators li:first-child{
	width: 7px;
	height: 7px;
	margin-bottom: 2px;
} */

/* .carousel-indicators .active{
	background-color: rgb(225, 63, 56);
	width: 10px !important;
	height: 10px !important;
	margin-bottom: 1px !important;
} */
.copied-isbn {
	background-color: #ffeb3b;
}
.copy-isbn-link:hover {
	text-shadow: 0 0 3px #ffeb3b;
	line-height: 1;
	text-decoration: underline;
}
.comment {
	width: 50%;
	float: left;
}
.comment-desc {
	padding-top: 7px;
	padding-left: 5px;
  width: 50%;
  float: left;
  font-size: 12px;
  line-height: 1;
}
.comment-icon{
    border-radius: 50px;
    border: 1px solid black;
    padding: 10px 8px 7px 8px;
		color: black;
		font-weight: bold;
}
.comment-icon-image {
	color: #000000;
	font-weight: bold;
	padding: 10px;
	background-repeat: no-repeat;
  display: inline-block;
  width: 38px;
  height: 38px;
  background-size: 38px;
	background-image: url("../images/comment-icon.png");
}
.community-form-desc {
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.33;
  max-height: 38px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.community-forum-headline {
	text-align: center;
	color: #000000;
	font-family: 'Portrait Medium';
	font-size: 20px;
}
.communty-form-heading h3 {
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    font-family: 'Portrait Medium';
}
.content{
	width: 100%;
	/* padding-top: 20px; */
	padding-bottom: 10px;
	float: left;
}
.content .heading-underline h1:hover, .content .heading-underline h3:hover{
	border-bottom:2px solid #db4336;
}
h3.line-clamp-3:hover {
	border-bottom:2px solid #db4336;
}
.color-red{
	color: rgb(221, 74, 57);
}
.excerpt{
	font-size: 16px;
}
/*
.fa-arrow-right {
	padding-left: 4px;
} */
.featured-story-headline {
	font-family: 'Portrait Medium';
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}
.featured-story-headline-right {
	font-family: 'Portrait Medium';
	color: #000000;
	font-size: 26px;
}
.filter-section-heading {
	font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 6px;
  text-align: center;
  color: #000000;
}
.filter {
    float: left;
    width: 100%;
    display: block;
}
.filter .btn-default-red {
    font-size: 12px;
		font-weight: bold;
    /* height: 40px; */
    letter-spacing: 1px;
    border: 2px solid #ffffff;
    color: #ffffff;
		background-color: #eb0000;
    /* padding-left: 20px;
    padding-right: 20px; */
}
.filtered-document-headline {
	margin-bottom: 15px;
	color: #000000;
}
.filter-heading{
	font-weight: bold;
	/* letter-spacing: 2px; */
}
.filter-heading a{
	text-decoration: none;
}
.filter-heading a i{
	float: right;
  font-size: 10px;
  font-weight: normal;
  padding-top: 4px;
}
.filter>ul {
  list-style: none;
  padding: 0px;
  font-size: 18px;
  line-height: 2;
}
.filter>ul>li>a {
    color: #0a0a0a;
    text-decoration: none;
}
.filter>ul>li>a:active {
    color: rgb(197, 194, 194);
    border-bottom: 1px solid rgb(197, 194, 194);
}
.filter-story-section{
    /* border: 2px solid red; */
    /* height: 200px; */
    margin-bottom: 30px;
}
.join-now{
	font-size: 16px;
  line-height: 0;
  padding: 30px 0px;
  font-weight: bold;
  color: #fff;
}
.join-now>h5{
	font-size: 16px;
	font-weight: bold;
}
.join-now-box {
	background-color: #eb0000;
}
.footer .footer-block>h4{
	font-size: 16px;
	font-weight: bold;
}
.footer .footer-block>ul{
	padding: 0px;
}
.footer .footer-block>ul>li>a{
	color: black;
	line-height: 2;
}
.footer-img {
    /*border-top: 2px solid #d8d8d8;*/
    border-bottom: 2px solid #d8d8d8;
    height: auto;
}
.footer .footer-policy>ul>li{
	padding-left: 20px;
	list-style: none;
	float: left;
}
.footer .footer-policy>ul>li>a{
	color: black;
	text-decoration: none;
}
.footer .footer-policy a{
	color: black;
	text-decoration: none;
}
.forum-search {
	background-color: #000000;
	padding: 30px 20px 40px 20px;
}
.forum-search > div{
	border-bottom: 1px solid #ffffff;
}
.forum-search input {
	padding: 10px 5px 3px 10px;
	font-size: 18px;
	color: #ffffff;
	background-color: #000000;
	width: 80%;
	border: 0px solid #000000;
}
.forum-search img {
	padding-bottom: 3px;
}
.forum-search input::placeholder {
	color: #ffffff;
}

.forum-topic-headline {
	font-family: 'Portrait Medium';
	color: #000000;
	font-size: 17pt;
}

.heading-arrow {
	position: relative;
	bottom: 3px;
	right: 6px;
}

.header{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.hr_division{
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 5px solid black;
	width: 100%;
	float: left !important;
}

.hr_division_light{
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 3px solid black;
	width: 100%;
	float: left !important;
}

.hr_division_grey{
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid rgb(217, 217, 217);
	width: 100%;
	float: left !important;
}

.hr_division_grey_light{
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgb(197, 194, 194);
	width: 100%;
	float: left !important;
}

.icon {
	width: 61px;
	height: 61px;
	border-radius: 70px;
	display: inline-block;
	background-color: #000;
}

.icon-desktop {
	background-size: 39px;
    background-position: 11px;
    background-repeat: no-repeat;
    background-image: url(../images/desktop-icon.png);
}

.icon-mobile {
	background-size: 17px;
    background-position: 22px;
    background-repeat: no-repeat;
    background-image: url(../images/mobile-icon.png);
}

.icon-note {
	background-size: 31px;
  background-position: 14px;
  background-repeat: no-repeat;
  background-image: url(../images/note-icon.png);

}

.image-full{
	height: 100%;
  width: 100%;
}

.feature-image>p>img{
	height: 100%;
  width: 100%;
}

.join-community-heading-story	>h1{
	line-height: 1.4;
	font-weight: bold;
}

.join-community-heading>h1{
	margin-top: 5px !important;
	font-size: 42px;
	line-height: 1.4;
	font-weight: bold;
	color: black;
}

.join-community-heading>h3{
	margin-top: -10px !important;
}

.latest-activity-headline{
  color: #000000;
  font-family: 'Portrait Medium';
  font-size: 19pt;
}

.latest-activity-strip {
	padding: 25px;
}

.latest-activity-strip .description {
	font-family: 'Akzidenz Grotesk Roman';
  font-size: 12pt;
	/* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.latest-activity-strip .reply {
	font-size: 9pt;
  color: rgb(128, 128, 128);
}

.latest-activity-striped > div:nth-of-type(even) {
	background-color: rgb(248, 248, 248);
	border-top: 2px solid rgb(204, 204, 204);
	border-bottom:  2px solid rgb(204, 204, 204);
}

.latest-activity-striped > div:last-child {
	background-color: #ffffff;
	border-top: none;
	border-bottom:  none;
}

.LJ-image{
	margin: 20px 0px 10px;
  width: auto;
	height: 50px;
}

.lj-btn-black {
	font-family: 'Akzidenz Grotesk Regular';
	height: 40px;
  background-color: #ffffff;
  border: solid 2px #000000;
	padding: 12px 20px;
	font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: center;
  color: #000000;
	margin: 0px;
}

.line-clamp-3 {
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1;
  /* max-height: 55px; */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*.more-link {
	width: 100%;
	float: left;
	color: #333;
}*/

.more-link{
	font-family: 'Akzidenz Grotesk Regular';
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.more-link>a {
	color: #333;
}

.more-link>a:hover, .more-link>a:focus {
	text-decoration: none;
}

.nav-links li a {
    color: #000 !important;
    padding: 10px;
}

.navbar-default {
     background-color: #ffffff;
     border: 0px !important;
}

.navbar-default .navbar-nav>li>a {
    color: #000000 !important;
}

.navbar-nav>.open>.dropdown-toggle{
	background-color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #ffffff;
		color: black;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #000	;
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}

.new-conversion {
	font-size: 18px;
  border: 5px solid rgb(204, 204, 204);
  height: 70px;
	padding: 30px;
	width: 100%;
}

.new-conversion::placeholder {
	color: #000000;
}

.no-top-border {
	border-top: none !important;
}

.not-active {
	pointer-events: none;
	cursor: default;
	color: #6f6f6f !important;
}

.pagination-div a{
	color: #000000;
	padding: 0px 10px;
}
.pagination-div ul {
	list-style: none;
	/* margin-left: 10%; */
	padding-left: 0px;
}

.pagination-div ul li{
	float: left;
	width: 8%;
}
.pagination-div ul li:last-child{
	padding-left: 20px;
}

.pagination-div ul li a{
	color: #000000;
	padding: 0px 0px;
}

.panel {
	/* border-bottom: 1px solid #d8d8d8 !important; */
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}

.panel-body {
    padding: 7px 0px;
		font-size: 16px;
		width: 100%;
		/* float: left; */
}

.panel-body label {
    display: inline;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: normal;
}

.panel-body label:hover {
  border-bottom: 1px solid #cdcdcd;
}

.panel-body input[type=radio] {
	opacity: 0;
}

.panel-body:last-child {
	padding-bottom: 20px;
}

.panel-group {
  font-family: 'Akzidenz Grotesk Roman';
}

.date-range > input{
	font-size: 12px;
	padding: 7px;
  width: 85%;
	border: 1px solid #d2d2d2;
}

.date-range > input::placeholder {
	color: #9a9797;
}

.date-range > span {
		font-size: 12px;
}

/* .panel-body > .specific-dates{
	color: #8e8b8b;
	border-bottom: 1px solid #000000a1;
	padding-bottom: 2px;
} */


.panel-default {
    border: 0px solid #ffffff;
		border-radius: 0px !important;
}

.panel-heading {
    padding: 10px 0px;
		background-color: #ffffff !important;
		border: 0px solid #ffffff !important;
}

.recommended-description {
	font-family: 'Akzidenz Grotesk Roman';
	font-size: 13pt;
	width: 100%;
	float: left;
}

.recommended .story-section {
	margin-bottom: 30px;
}

.red{
	color: rgb(220, 64, 55);
}

.red-box{
	border: 5px solid #db4336;
}

.red-box-light {
	float: left;
	width: 100%;
	display: block;
  border: 4px solid rgb(249, 66, 63);
}

.red-box-thin{
	border: 3px solid #db4336;
}

.red-inner-box{
	margin: 40px 10px 60px 10px;
	display: inline-block;
}

.registration-form{
	line-height: normal;
}

.registration-form > div{
	padding: 9px 10px;
}

.registration-form input{
	border: 1px solid #000000;
	padding: 15px;
	width: 100%;
}

.registration-form select{
	background-color: #ffffff;
	border: 1px solid #000000;
	/* padding: 15px; */
	width: 100%;
}

.registration-form select:disabled {
	color: gray;
}

.registration-form select:required:invalid {
  color: gray;
}
.registration-form option[value=""][disabled] {
  display: none;
}
.registration-form option {
  color: black;
}

.review-headline{
	text-align: center;
	display: block;
	width: 100%;
	color: black;
}

.review-headline>h2{
	display: inline-block;
}

.review-headline>h4{
	display: inline-block;
}

.review-headline>h4>span{
	margin-top: 30px;
	position: absolute;
	font-size: 10px;
}

.review-list-img > p {
	margin: 0px;
	height: 100%;
}
.review-list-img > p :first-child {
	height: 100%;
	width: 50%;
}

.review-list-img > p :last-child {
	height: 100%;
	width: 50%;
}

.search-icon .btn-default {
    border: 0px;
}

.social-icon{
	font-size: 20px;
	background: #000;
	width: 35px;
	height: 35px;
	border-radius: 50px;
	text-align: center;
	line-height: 35px;
	color: #fff;
}

.social-share > ul{
	padding: 0px;
	margin-bottom: 0px;
}

.social-share > ul > li > a{
	padding: 1px;
}

.specific-author > .has-author {
    font-size: 12px;
    padding: 9px;
    width: 100%;
    border: 1px solid #d2d2d2;
}

.sponsored {
	font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #000000;
}

.subscribe-callout-today h3 {
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: 6px;
	text-align: center;
	color: #010101;
}

.subscribe-callout > .subscribe-callout-today {
	text-align: center;
  display: block;
  width: 100%;
  color: black;
	float: left;
}

.subscribe-callout .description {
	color: #000000;
	font-family: 'Akzidenz Grotesk Roman';
	font-size: 24px;
}

.subscribe-callout .headline {
	font-family: 'Portrait Medium';
	color: #000000;
}

.subscribed-newslater {
	text-align: center;
	padding: 20px !important;
}

.subscribed-newslater-options {
  padding: 5px 20px;
}

.subscribed-newslater-options > label {
  font-size: 16px !important;
}

.utility {
	padding: 4px;
}

.utility-icon {
    font-size: 26px;
    background: #000;
    width: 55px;
    height: 55px;
    border-radius: 70px;
    text-align: center;
    line-height: 60px;
    color: #fff;
}

.page-headline{
	font-family: 'Portrait Medium';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.section-image {

}

.story-first-para {
	font-family: 'Portrait Medium';
	font-size: 23pt;
	line-height: 38px;
}

.story-para {
	font-family: 'Akzidenz Grotesk Roman';
	font-size: 20px;
	line-height: 28px;
}

.story-headline {
	font-family: 'Portrait Medium';
	color: #000000;

}

.story-image{
	width: 100%;
	/* height: 600px; */
	/* padding: 0px 30px; */
	float: left;
}

.story-para > h1{
	font-family: 'Portrait Medium';
	/* font-weight: bold; */
	font-size: 40pt;
	margin: 40px 0px;
	font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ff4438;
	/* color: #eb0000; */
}

.story-list-inner-box{
	width: 100%;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 20px;
  padding-bottom: 30px;
  display: inline-block;
}

.story-nav>li{
	float: left;
  width: 16%;
  border-bottom: 2px solid rgb(204, 204, 204);
  padding-right: 20px;
  margin-right: 3%;
  padding-left: 0px;
	margin-bottom: 3px;
	padding-bottom: 3px;
}

.story-nav>.active {
  border-bottom: 5px solid #eb0000;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.story-nav>li>a{
	padding-left: 1px;
	padding-right: 0px;
}

.story-section{
	/* border: 2px solid red; */
  /* height: 200px; */
	margin-bottom: 15px;
}

.tabcontent {
    display: none;
		width: 100%;
		float: left;
}

.tabbed-content {
	width: 100%;
	float: left;
}

/* .TOPIC .carousel-inner:hover~a{
	color: #fff;
  filter: alpha(opacity=90);
  background: #fff;
  opacity: 2.9;
} */
/* Same as above class */
/* .carousel-inner:hover~a.carousel-control , .carousel-inner:focus~a.carousel-control ,.carousel-inner:active~a.carousel-control{
  color: #fff;
  filter: alpha(opacity=90);
  background: #fff;
  opacity: 2.9;
	display: block;
} */

/* .TOPIC  .carousel-control:hover, .TOPIC .carousel-control:focus, .TOPIC .carousel-control:active{
	  background: #fff;
} */

/* .TOPIC .carousel-control.left {
    height: 80px;
    width: 80px;
    top: 45%;
    background-image: none;
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
		opacity: 2.9;
} */

/* .TOPIC .carousel-control.right {
  right: 0;
  height: 80px;
  width: 80px;
  top: 45%;
  left: auto;
  background-image: none;
  background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
} */

/* .TOPIC .carousel-control .glyphicon-triangle-left,.TOPIC .carousel-control .glyphicon-triangle-right,.TOPIC .carousel-control .icon-next,.TOPIC .carousel-control .icon-prev {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
	color: #f9423f;
  text-shadow: none;
} */

/* Date Picker View "Previus Design" */
/* .TOPIC .date-range > input {
    font-size: 12px;
    padding: 7px;
    width: 20%;
    border: 1px solid #d2d2d2;
}

.TOPIC .date-range > input::placeholder {
	text-align: center;
}

.TOPIC .date-range .yyyy {
    font-size: 12px;
    padding: 7px;
    width: 28%;
    border: 1px solid #d2d2d2;
} */

.underline-link {
	color: #000000;
	text-decoration: none !important;
	border-bottom: 2px solid #eb0000;
}

.TOPIC .panel-body {
  padding: 5px 0px;
}

.TOPIC .topic_head .article_topic_type {
	line-height: 1;
}

.topic-list-div:before{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 20px solid #ebebeb;
	content: "";
	position: relative;
	display: block;
	top: -50px;
	right: 0px;
	margin: auto;
	left: -111px;
}

.topic-list-div{
	display: none;
	width: 88%;
	padding: 30px;
	float: left;
	position: fixed;
	top: 240px;
	left: 6%;
	z-index: 99999;
	background-color: #ebebeb;
}

.topic-list{
	/* display: none; */
	list-style: none;
	background: #ebebeb !important;
	border: none !important;
  box-shadow: none !important;
  /* padding: 20px 30px; */
}

.topic-list>li>a{
	font-size: 18px;
	text-decoration: none;
	line-height: 2.0;
	font-weight: normal;
	color: #414141 !important;
}

.topic-list-small>li>a{
	font-size: 22px;
	text-decoration: none;
	line-height: 1.8 !important;
	font-weight: normal;
	/* color: #414141 !important; */
	color: #313131!important;
}

.topic-list>li>a:hover{
	border-bottom: 2px solid #e53c39;
}

.topic-navigation {
	float: left;
	width: 100%;
}

ul.header-section {
    display: flex;
    justify-content: space-between;
}

.topic-navigation li {
	padding-right: 22px;
	padding-left: 22px;
}

.topic-navigation li>a{
	padding: 10px 11px;
	cursor: pointer !important;
	font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.topic-tag {
	font-family: 'Akzidenz Grotesk Bold';
	color: #eb0000;
	font-size: 10pt;
}

.topic-type{
	font-size: 12px;
	color: #eb0000;
	margin-top: 20px;
	margin-bottom: 0px;
	font-weight: bold;
  letter-spacing: 2.4px;
	width: 100%;
	float: left;
}

.top-story-content {
	float: left;
	width: 100%;
}

.top-story-left {
	/* display: block; */
	width: 100%;
	float: left;
}

.top-story-image-main{
	/* width: 100%; */
	/* height: 417px; */
	/* border: 1px solid green; */
}

.top-story-image-sub{
	width: 100%;
	/* height: 196px; */
	/* border: 1px solid green; */
}

.top-story-heading {
	float: left;
	width: 100%;
}

/*.top-story-heading h1{
	margin-top: 5px !important;
	font-size: 42px;
	line-height: 1.4;
	font-weight: bold;
	color: black;
}*/
.top-story-heading h1{
	margin-top: 5px !important;
	font-size: 42px;
	line-height: 1.4;
	font-weight: bold;
	color: black;
	height: 108px;
	font-size: 52px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	font-family: 'Portrait Medium';
}

.top-story-heading a{
	text-decoration: none;
}

/*.top-story-heading h3{
	margin-top: 10px !important;
	font-family: 'Portrait Medium';
}*/
.top-story-heading h3{
	margin-top: 10px !important;
	font-family: 'Portrait Medium';
	/* height: 52px; */
	font-size: 26px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: normal;
	/* text-align: left; */
	color: #000000;
}

.top-story-side-bar{
	margin-bottom: 30px;
	width: 100%;
	float: left;
}

.top-story-type{
	text-align: center;
	font-size: 12px;
  color: #eb0000;
  margin-bottom: 0px;
  font-weight: bold;
  letter-spacing: 2.4px;
  width: 100%;
  float: left;
}
.top-center-desc{
	margin-top: 20px;
	font-family: Portrait Medium;
	font-size: 26px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}

.book-review-list .page-headline {
	margin: 30px 0px 20px 0px;
}

.books_and_review_headline{
	font-family: 'Akzidenz Grotesk Regular';
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 7.2px;
  text-align: center;
	color: #000000;
}
.explore-desc{
	font-family: 'Akziden zGrotesk Roman';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.align-center{
	display: flex;
	justify-content: center;
}

.dropdown-menu{
	/* height: 140px !important; */
    /* max-height: 400px;
    overflow: hidden;
    overflow-y: auto; */
		border: none;
		border-radius: 0;
		box-shadow: none;
}

.form-group.required .control-label:after {
    /* color: #d00; */
    content: "*";
    position: absolute;
    margin-left: 2px;
    top:7px;
}

.customer-id {
	padding-bottom: 15px;
	/* font-weight: bold; */
}
li.ellipsis-user-name {
	/*overflow: hidden; */
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 1;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	width: 130px;
}

/* My Account Page - My Profile */
.user-account-image {
    padding: 20px 20px 0;
    text-align: center;
    background: #9e9e9e;
    margin-bottom: 20px;
		color: #fff;
}
/*Profile Pic Start*/
.picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
}
.picture{
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}
.picture-src{
    width: 100%;
}
.del-img {
	position: relative;
	left: 100px;
	top: -20px;
	width: 20px;
	margin: auto;
}
/*Profile Pic End*/

.my-profile {
    width: 100%;
    float: left;
    margin-top: 100px;
}
/* Style the tab */
.tab {
    float: left;
    background-color: #f8f8f8;
}

/* Style the buttons inside the tab */
.tab button {
		display: block;
		background-color: inherit;
		padding: 0 20px;
		width: 100%;
		border: none;
		outline: none;
		text-align: left;
		cursor: pointer;
		transition: 0.3s;
		font-size: 16px;
		font-weight: bold;
}
.tab button.active {
	position: relative;
}
.tab button.active:after {
	left: 0;
  top: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 252, 252, 0);
  border-left-color: #000000;
  border-width: 6px;
}

.tab button:hover {
    background-color: #transparent;
}

.tabcontentSection {
    float: left;
    border-left: none;
		padding-left: 100px;
}

button.tablinks.logout-btn {
		text-align: center;
		border: 2px solid #000;
		color: #000;
		padding-top: 5px;
		padding-bottom: 5px !important;
		margin: 0 70px;
		width: 150px;
		font-size: 14px;
}
.subscription-name {
	font-size: 16px;
	font-weight: bold;
}
p.date {
	font-size: 12px;
	color: #9E9E9E;
	margin-top: 30px;
}
span.number {
		background: #000;
    color: #fff;
    padding: 2px 6px;
    border-radius: 50%;
    margin-right: 5px;
}
.nav-tabs {
	border-bottom: none !important;
}
.myprofile > .active {
		border-bottom: 5px solid #eb0000;
		margin-bottom: 0px;
		padding-bottom: 0px;
}
.myprofile >li {
		width: 28%;
		border-bottom: 2px solid #808080;
}
.myprofile >li  >a {
		padding-left: 0;
		border: none !important;
		font-weight: bold;
		color: #555 !important;
}
.myprofile>li.active>a, .myprofile>li.active>a:focus, .myprofile>li.active>a:hover {
	color: #555 !important;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}

.savedArticle > .active {
		border-bottom: 5px solid #eb0000;
		margin-bottom: 0px;
		padding-bottom: 0px;
}
.savedArticle >li {
		width: 48%;
		border-bottom: 2px solid #808080;
}
.savedArticle >li  >a {
		padding-left: 0;
		border: none !important;
		font-weight: bold;
		color: #555 !important;
}
.savedArticle>li.active>a, .savedArticle>li.active>a:focus, .savedArticle>li.active>a:hover {
	color: #555 !important;
}


.icon-addon {
    position: relative;
    display: block;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
	position: absolute;
	z-index: 2;
	right: 10px;
	padding: 15px 0;
	margin: auto;
}

a.show_password1,a.show_password2,a.show_password3 {
    color: inherit;
    text-decoration: none;
}

.display-flex {
	display: flex;
	flex-wrap: wrap;
}

/* Popup container - in account-dashboard */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
		 float: right;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
		width: 135px;
		background-color: #e2e2e2;
		padding: 15px 15px;
		position: absolute;
		right: -15px;
		top: -5px;
		z-index: -1;
		list-style-type: none;
		margin: auto;
}
li.popup-list.active {
	margin-bottom: 5px;
	border-bottom: 2px solid #a9535e;
	padding-bottom: 4px;
	cursor: pointer;
}


/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
}

/* New design for popup login */
ul.dropdown-menu-login {
		margin-top: 10px !important;
		/* right: 50px !important; */
    background: #eee;
    border: none;
    box-shadow: none;
		height: auto !important;
		min-width: 250px !important;
}
.error-color {
	background: #eb0000;
	color: #fff;
	padding: 5px;
}

ul.dropdown-menu-login:before {
    content: "";
    position: relative;
    display: block;
		top: -19px;
		left: 40px;
		width: 0;
		height: 0;
		border-left: 15px solid transparent;  /* left arrow slant */
		border-right: 15px solid transparent; /* right arrow slant */
		border-bottom: 15px solid #eee; /* bottom, add background color here */
		font-size: 0;
		line-height: 0;
		margin: auto;
	}

/* New design for popup after login */
ul.account-nav {
	background: #f2f2f2;
}
.dropdown-menu>li>a {
    color:#428bca;
}
ul.account-nav:before {
    content: "";
    border-bottom: 10px solid #f2f2f2;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:active {
	color: inherit;
	background: inherit;
	border-bottom: inherit;
	text-decoration: underline;
}

	/* Embargoed content registration  */
.modal-content {
	border-radius: 0 !important;
	border: none !important;
}
.close {
	opacity: 1 !important;
	font-size: 12px !important;
	font-weight: 100 !important;
}
.close:hover {
	opacity: 1 !important;
}
.modal-header {
    border-bottom: none !important;
}
.divide-line {
	width: 100% !important;
	text-align: center;
	border-bottom: 1px solid #d8d8d8;
	line-height: 0.1em !important;
}
.divide-line span {
    background: #fff;
    padding: 0 10px;
		font-size: 12px;
		position: relative;
		top: 5px;
		font-weight: bold;

	}

/* Himanshu */

	.checkout-section {
	    border: 1px solid #000;
	    padding: 15px 20px;
			margin-bottom: 20px;
	}

	.checkout-section-heading {
		line-height: 1;
		margin-bottom: 0px;
		display:inline-block;
	}

	.checkout-section-content {
		padding: 20px 0px;
		font-size: 16px;
	}

	.checkout-page .form-group {
		/* margin-bottom: 0px; */
	}

	.checkout-page .form-group.required .control-label:after {
		top: 0px;
	}

	.checkout-billing-detail {
		width: 100%;
		float: left;
		background-color: #f2f2f2;
		padding: 0 20px;
    /* margin: 0px 15px; */
	}

	.checkout-billing-detail > .heading {
		text-align: center;
		margin-top: 30px;
		margin-bottom: 20px;
		letter-spacing: 3px;
	}

	.edit-link {
		float: right;
		color: #a09e9e;
		text-decoration: underline;
	}

	.order-qty {
		width: 25%;
		background: #f2f2f2;
		border: none;
    text-align: right;
	}

	.degital-subscription-qty {
		font-weight: bold;
    line-height: 1.8;
		/* display: inline; */
		float: left;
	}

	.checkout-order-list {
		padding: 5px 0px;
		width: 100%;
		float:left;
	}

	.checkout-amount {
		float: right;
	}
.hide {
	display: none;
}

.centered-modal.in {
   display: flex !important;
}
.centered-modal .modal-dialog {
   margin: auto;
}

.top-center-content {
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}



/* ============================================================ */
/* Styling for LJ site that is the theme style file (theme.css) */
/* ============================================================ */
/* Button Plate */
.btn-default-gray {
	font-family: 'Akzidenz Grotesk Regular';
	height: 40px;
  background-color: #ffffff;
  border: solid 2px #d2d2d2;
	padding: 12px 20px;
	font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: center;
  color: #d2d2d2;
	margin: 0px;
}
.btn-default-gray:focus, .btn-default-gray:hover {
    outline: none !important;
    border-color: #eb0000;
    color: #eb0000;
    box-shadow: none;
}

.full-color-btn-white:hover {
	background-color: #000000;
	color: #fff;
}

.full-color-btn-white {
    font-family: 'Akzidenz Grotesk Regular';
    height: 35px;
    background-color: #fff;
    padding: 8px 20px;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: left;
    color: #000;
    margin: 0px;
}

.full-color-btn-black:hover {
	background-color: #ffffff;
	border: 2px solid #000000;
}

.full-color-btn-black:focus {
	background-color: #000;
	color: #fff;
}

.full-color-btn-black {
    font-family: 'Akzidenz Grotesk Regular';
    height: 35px;
    background-color: #000;
    padding: 8px 20px;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: left;
    color: #fff;
    margin: 0px;
}

.full-color-btn-grey {
    font-family: 'Akzidenz Grotesk Regular';
    height: 35px;
    background-color: #d2d2d2;
    padding: 8px 20px;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: left;
    color: #fff;
    margin: 0px;
}

/* Header text */
h4 {
  font-weight: bold;
  line-height: 25px;
  margin-top: 30px;
}
h5 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
  line-height: 25px;
}
/* Border color */
.border-bottom {
  border-bottom: 2px solid #e2e2e2 !important;
}
.red {
  color: #eb0000;
}
.border-bottom-red {
  border-bottom: 2px solid #eb0000;
}

/*form element styles begin*/
input[type="text"],input[type="password"],textarea {
  box-sizing: border-box;
  border: 1px solid #000;
  /* border-radius: 2px; */
  height: 42px;
  padding: 10px 20px;
  font-size: 16px;
  background: #FFF;
  box-shadow: none;
  width: 100%;
}
input[type="email"],input[type="password"],textarea {
  box-sizing: border-box;
  border: 1px solid #000;
  /* border-radius: 2px; */
  height: 42px;
  padding: 10px 20px;
  font-size: 16px;
  background: #FFF;
  box-shadow: none;
  width: 100%;
}
input[type="text"]:focus {
	border: 1px solid #000;
	outline: 0;
  box-shadow: none !important;
}
select {
    /* border-radius: 2px !important; */
    border: 1px solid #000 !important;
    box-sizing: border-box;
    height: 42px;
    font-size: 16px;
    box-shadow: none;
    padding-left: 15px !important;
    appearance: none;
		cursor: pointer;
    background: #fff;
}

/*radio button and checkbox */
input[type=checkbox], input[type=radio] {
	display: none;
}

label.radio, label.small-checkbox {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  padding-top: 0px;
}

label.radio:before {
	border-radius: 50%;
}

input[type=checkbox].small-checkbox:checked+label:before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 14px;
    background: #000;
    color: #FFF;
    text-align: center;
    line-height: 15px;
    border: 1px solid #000;
}

input[type=radio]:checked+label:before {
    content: "\2022";
    font-family: "Times New Roman", Times, serif;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 20px;
    background: #000;
    border: none;
}
label.radio:before, label.small-checkbox:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: -1px;
    border: 1px solid #000;
    background-color: #fff;
    box-sizing: border-box;
    margin-top: 3px;
}

.form-control {
  border-radius: 0 !important;
}

/* Hover Color Code  */
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none !important;
}
a {
    color: #333 !important;
}
a:hover {
    color: #eb0000 !important;
}
.fa-arrow-right:before, .fa-arrow-left:before {
  color: #eb0000 !important;
}
:focus {
  outline-color: transparent !important;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}


/* ============================================================ */
/* Styling for LJ site that is the utility style file (utilities.css) */
/* ============================================================ */
body{
	font-family: 'Akzidenz Grotesk Regular';
}

.highlight{
	border: 1px solid red;
}

.height_100{
	height: 100px;
}
.height_150{
	height: 150px;
}
.height_200{
	height: 200px;
}
.height_300{
	height: 300px;
}

/* Display ************************************************/
.display-none{
	display: none !important;
}

.display-inline{
	display: inline;
}

.display-block{
	display: block;
}

.display-inline-block{
	display: inline-block;
}

/* Font Ffamily ********************************************/

.akzidenz-grotesk-roman {
	font-family: 'Akzidenz Grotesk Roman';
}

.akzidenz-grotesk-bold{
	font-family: 'Akzidenz Grotesk Bold';
}

.portrait {
	font-family: 'Portrait';
}

.portrait-medium {
	font-family: 'Portrait Medium';
}

.akzidenz-grotesk-regular {
	font-family: 'Akzidenz Grotesk Regular';
}

/*Float ***************************************************/
.float-left{
	float: left !important;
}

.float-right{
	float: right !important;
}


/*Font Size ***************************************************/
.fs_10{
	font-size: 10px !important;
}

.fs_12{
	font-size: 12px !important;
}

.fs_13{
	font-size: 13px !important;
}

.fs_14{
	font-size: 14px !important;
}

.fs_15{
	font-size: 15px !important;
}

.fs_16{
	font-size: 16px !important;
}

.fs_18{
	font-size: 18px !important;
}

.fs_20{
	font-size: 20px !important;
}

.fs_22{
	font-size: 22px !important;
}

.fs_24{
	font-size: 24px !important;
}

.fs_32{
	font-size: 32px !important;
}

.fs_42{
	font-size: 42px !important;
}

.fs_50{
	font-size: 50px !important;
}

.fs_60{
	font-size: 60px !important;
}

.fspt_54 {
	font-size: 54pt !important;
}

.fs_12pt {
	font-size: 12pt !important;
}

.fs_14pt {
	font-size: 14pt !important;
}

.fs_15pt {
	font-size: 15pt !important;
}

.fs_54pt {
	font-size: 54pt !important;
}

/*Font Weight ***************************************************/
.fb{
	font-weight: bold !important;
}

.bold {
	font-weight: bold !important;
}

.font-weight-100 {
	font-weight: 100 !important;
}

.pointer {
 cursor: pointer !important;
}

/*Margin Bottom ***************************************************/
.no-margin {
	margin: 0 !important;
}
.mb_0{
	margin-bottom: 0px !important;
}

.mb_5{
	margin-bottom: 5px !important;
}

.mb_10{
	margin-bottom: 10px !important;
}

.mb_15{
	margin-bottom: 15px !important;
}

.mb_20{
	margin-bottom: 20px !important;
}

.mb_25{
	margin-bottom: 25px !important;
}

.mb_30{
	margin-bottom: 30px !important;
}

.mb_40{
	margin-bottom: 40px !important;
}

.mb_50{
	margin-bottom: 50px !important;
}

.mb_80{
	margin-bottom: 80px !important;
}

/*Margin Left ***************************************************/

.ml_-40{
	margin-left: -40px !important;
}

.ml_-30{
	margin-left: -30px !important;
}

.ml_-20{
	margin-left: -20px !important;
}

.ml_-10{
	margin-left: -10px !important;
}

.ml_-5{
	margin-left: -5px !important;
}

.ml_0{
	margin-left: 0px !important;
}

.ml_5{
	margin-left: 5px !important;
}

.ml_10{
	margin-left: 10px !important;
}

.ml_15{
	margin-left: 15px !important;
}

.ml_20{
	margin-left: 20px !important;
}

.ml_25{
	margin-left: 25px !important;
}

.ml_30{
	margin-left: 30px !important;
}

.ml_40{
	margin-left: 40px !important;
}

.ml_50{
	margin-left: 50px !important;
}

.ml_80{
	margin-left: 80px !important;
}

.ml_100{
	margin-left: 100px !important;
}

/*Margin Right ***************************************************/
.mr_0{
	margin-right: 0px !important;
}

.mr_5{
	margin-right: 5px !important;
}

.mr_10{
	margin-right: 10px !important;
}

.mr_15{
	margin-right: 15px !important;
}

.mr_20{
	margin-right: 20px !important;
}

.mr_30{
	margin-right: 30px !important;
}

/*Margin Top ***************************************************/
.mt_0{
	margin-top: 0px !important;
}

.mt_5{
	margin-top: 5px !important;
}

.mt_10{
	margin-top: 10px !important;
}

.mt_15{
	margin-top: 15px !important;
}

.mt_20{
	margin-top: 20px !important;
}

.mt_25{
	margin-top: 25px !important;
}

.mt_30{
	margin-top: 30px !important;
}

.mt_40{
	margin-top: 40px !important;
}

.mt_50{
	margin-top: 50px !important;
}

.mt_80{
	margin-top: 80px !important;
}

/*Padding ***************************************************/

.p_0{
	padding: 0px !important;
}

.p_15{
	padding: 15px !important;
}

.p_30{
	padding: 30px !important;
}

/*Padding Bottom ***************************************************/

.pb_0{
	padding-bottom: 0px !important;
}

.pb_5{
	padding-bottom: 5px !important;
}

.pb_10{
	padding-bottom: 10px !important;
}

.pb_15{
	padding-bottom: 15px !important;
}

.pb_20{
	padding-bottom: 20px !important;
}

.pb_30{
	padding-bottom: 30px !important;
}

.pb_40{
	padding-bottom: 0px !important;
}

.pb_50{
	padding-bottom: 50px !important;
}

.pb_55{
	padding-bottom: 55px !important;
}


/*Padding Left ***************************************************/

.pl_0{
	padding-left: 0px !important;
}

.pl_5{
	padding-left: 5px !important;
}

.pl_10{
	padding-left: 10px !important;
}

.pl_15{
	padding-left: 15px !important;
}

.pl_20{
	padding-left: 20px !important;
}

.pl_30{
	padding-left: 30px !important;
}

.pl_40{
	padding-left: 40px !important;
}

.pl_50{
	padding-left: 50px !important;
}


/*Padding Right ***************************************************/

.pr_0{
	padding-right: 0px !important;
}

.pr_5{
	padding-right: 5px !important;
}

.pr_10{
	padding-right: 10px !important;
}

.pr_15{
	padding-right: 15px !important;
}

.pr_20{
	padding-right: 20px !important;
}

.pr_30{
	padding-right: 30px !important;
}

.pr_40{
	padding-right: 40px !important;
}

.pr_50{
	padding-right: 50px !important;
}


/*Padding Top ***************************************************/

.pt_0{
	padding-top: 0px !important;
}

.pt_5{
	padding-top: 5px !important;
}

.pt_10{
	padding-top: 10px !important;
}

.pt_15{
	padding-top: 15px !important;
}

.pt_20{
	padding-top: 20px !important;
}

.pt_25{
	padding-top: 25px !important;
}

.pt_30{
	padding-top: 30px !important;
}

.pt_40{
	padding-top: 40px !important;
}

.pt_50{
	padding-top: 50px !important;
}

.pt_55{
	padding-top: 55px !important;
}

/* Negative Margin and Padding***************************************************/
.nmt-5 {
	margin-top: -5px !important;
}

.nmt-30 {
	margin-top: -30px !important;
}

/*Text Alignment ***************************************************/
.text-align-center{
	text-align: center !important;
}
.text-align-left{
	text-align: left !important;
}
.text-align-right{
	text-align: right !important;
}
.text-decoration-none {
	text-decoration: none !important;
}

/*Width ***************************************************/
.full-width{
	width: 100% !important;
}

.width-20{
	width: 20% !important;
}

.width_25{
	width: 25%;
	float:left;
}


/* =========================================================================== */
/* Styling for LJ site for responsive that is the media style file (media.css) */
/* =========================================================================== */
/* Container Start**********************************************************/
@media screen and (max-width: 425px) {
  .container{
    padding-right: 0px;
    padding-left: 0px;
  }
}
/* Container End**********************************************************/

/* TOPIC page Start ********************************************************/
@media screen and (max-width: 425px) {
  .article_column {
    padding: 0px 0px;
  }

  .book-review-list-image {
    width: 100%;
    min-width: 90px;
    max-width: 100px;
    min-height: 130px;
    float: right;
    padding-right: 15px;
  }

  .story-first-para {
    line-height: 1.1;
    font-size: 24px;
  }

  .TOPIC .topic_head p {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .TOPIC .topic_head .article_topic_type {
    font-size: 12px;
  }
}
/* TOPIC page End ********************************************************/


/* Images Start*************************************************************/
@media screen and (max-width: 425px) {
  .top-story-image-main{
    /* width: 100%; */
    /* height: 300px; */
    /* border: 1px solid green; */
  }

  .top-story-image-main-size {
    max-height: 300px;
    width: 100%;
  }

  .top-story-image-sub{
  	width: 100%;
  	/* height: 300px; */
  	/* border: 1px solid green; */
  }

  .top-story-content{
    padding: 0px 20px;
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {

  .story-headline {
    font-size: 40px;
  }

  .top-story-image-main{
    width: 100%;
    /* height: 350px; */
    /* border: 1px solid green; */
  }

  .top-story-image-sub{
  	width: 100%;
  	/* height: 350px; */
  	border: 1px solid green;
  }
}
/* Images End*************************************************************/

/* Padding for tab view Start***********************************************/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .comment-desc {
    width: 46%;
    padding-left: 0px;
  }

  .book-review ul > li > a {
    padding: 0px;
  }

  .book-review-list-image {
    width: 100%;
    max-width: 190px;
    height: 290px;
  }

  .tab-pl_0{
    padding-left: 0px !important;
  }

  .tab-pr_0{
    padding-right: 0px !important;
  }
}
/* Padding for tab view End***********************************************/

/* Header Start*************************************************************/

/* Topics Hover and dropdown */
@media screen and (min-width: 768px) {
  .advertisement-white .adv-inner {
    height: 90px;
  }

  .advertisement-white .adv-inner > h1 {
    margin-top: 25px;
    margin-bottom: 24px;
  }

  .book-column {
  	padding-left: 40px;
    padding-right: 10px;
  }

  .book-review-landing-image {
    width: 100%;
  }

  .book-review-list .book-name {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .book-review-list .page-headline {
    text-align: left;
  }

  .checkout-billing-detail {
    /* margin: 0px 15px; */
  }

  .recommended {
    margin-top: 50px;
  }

  .recommended .review-headline {
    margin-bottom: 60px;
  }

  .subscribe-callout-today h3 {
    font-size: 24px;
  }

  #topics:hover{
  	border-bottom: 2px solid #db4336;
  }

  /* #topics:hover div>#topicList {
      display: block !important;
  } */

  #topics:hover #topicList {
      display: block !important;
  }


  .open>.dropdown-menu {
    display: none;
  }
}/* Topics Hover and dropdown */

@media screen and (max-width: 767px) {

  .review-list-img {
    height: 210px !important;
    width: 140px !important;
  }

  .adv-top {
    height: 70px;
  }

  .advertisement-white .adv-inner > h1 {
    margin: 5px 0px;
  }

  .book-list-section .upper {

  }

  .book-navigation {
    padding: 0px 20px;
    overflow-y: scroll;
  }

  .book-navigation > nav {
    width: 1111px !important;
  }

  .book-navigation .navbar-default .navbar-nav>li>a {
    margin: 15px 15px;
    padding: 0px;
    padding-bottom: 2px;
    font-size: 19px;
  }

  .book-review-detail {
    margin-bottom: 30px;
  }

  .book-review .review {
    text-align: left;
    font-size: 13pt;
  }

  .book-review-section {
    margin-top: 25px;
  }

  .book-review .review-tag-line {
    font-size: 16pt;
  }

  .book-review .book-name {
    font-size: 42px;
  }

  .book-review .byline-detail {
    font-size: 17px;
  }

  .book-review .book-detail {
    font-size: 17px;
  }

  .book-review-image {
    width: 175px;
    height: 260px;
  }

  .book-review-list .book-name {
    font-size: 26px;
    margin-bottom: 15px
  }

  .book-review-list .book-headline {
    font-size: 19px;
    line-height: 1.2;
  }

  .book-review-list > .topic_head{
    text-align: center;
  }

  .book-image {
    width: 200px;
  }

  .development-career {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .lower .book-headline h3 {
    margin-top: 0px;
  }

  .review-content{
    margin-top: 20px;
    margin-bottom: 10px;
  }

  form.laptop, hr.laptop, ul.laptop, h1.laptop{
    display: none !important;
  }

  .footer .laptop{
    display: none !important;
  }

  .mob-pl_0{
    padding-left: 0px !important;
  }

  .mob-pr_0{
    padding-right: 0px !important;
  }

  .review-book-detail {
    padding: 0px;
    text-align: center;
  }

  .subscribe-callout {
    margin-top: 30px;
    margin-bottom: 22px;
  }

  .subscribe-callout > .subscribe-callout-today {
    margin-bottom: 30px;
    padding: 0px 50px;
  }

  .subscribe-callout-body {
    text-align: center;
    margin: -1px -6px;
  }

  .subscribe-callout .headline {
    width: 100%;
    float: left;
    text-align: center;
    line-height: 1;
    margin-top: 0px;
    /* padding: 0px 40px; */
  }

  .TOPIC .review-headline {
    margin-top: 30px;
  }

  .topic-article_column {
    padding: 0px 0px;
  }

  .topic-article_column div:nth-last-of-type(odd) {
    padding: 0px 15px;
  }
}

@media screen and (max-width: 425px) {

  #reviewCarousel {
    height: 370px;
  }

  #reviewCarousel .section-image {
    height: 210px;
  }

  /* .carousel-development-career {
    height: 420px;
  } */

  .left-side-bar-section .top-story-heading h3{
    margin-bottom: 5px;
  }

  .mob-pl_15{
    padding-left: 15px !important;
  }

  .mob-pr_15{
    padding-right: 15px !important;
  }

  /* Tbbbed menu scrollable in mobile view */
  .tabbed-navbar-default {
    overflow-y: scroll;
    width: 100%;
    margin-bottom: 15px !important;
    padding: 0px 15px;
  }

  .tabbed-navbar-default .nav {
    width: 200%;
    float: left;
    display: inline-block;
    margin-left: 0px;
    margin-bottom: 10px !important;
  }

  .tabbed-navbar-default .nav li{
    float: left;
    width: 19%;
    padding-right: 0px;
    margin-right: 20px;
    padding-left: 0px;
    font-size: 18px;
    /* margin-bottom: 3px;
    padding-bottom: 3px; */
  }

  .top-center-desc {
    font-family: 'Portrait';
    margin-top: 15px;
    font-size: 21px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {

  .adv-top {
    height: 120px;
    padding: 40px 0px;
  }

  .book-review-list .byline-detail {
    font-size: 18px;
  }

  .book-review-detail {
    margin-bottom: 50px;
  }

  .book-review-section {
    margin-top: 50px;
  }

  .development-career {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .featured-story-headline {
    font-size: 54px;
  }

  .review-social-share ul li {
    /* border-right: 2px solid #e4e4e4;
    margin-right: 9px; */
  }

  .search-icon>input {
    display: none !important;
  }

  .search-icon .input-group-btn{
    width: 0%;
  }

  .social-share{
  	float: right;
  }
  .social-share-right{
    float: right;
  }

  .story-detail{
    padding: 0% 10%;
  }

  .story-headline {
  	font-size: 55pt;
  }

  .subscribe-callout {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .subscribe-callout > .subscribe-callout-today {
    margin-bottom: 50px;
  }

  .subscribe-callout .headline {
  	font-size: 54px;
    line-height: 50px;
    margin-top: 10px !important;
  }

  .TOPIC .review-headline {
    margin-top: 60px;
  }

  .topic_head {
    margin-bottom: 60px;
  }

  form.tablet, hr.tablet, ul.tablet, h3.tablet{
    display: none !important;
  }

  .footer .tablet{
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .advertisement-white {
    padding: 0px 10px;
    margin: 30px 0px;
  }

  .advertisement-white .adv-inner {
    height: 50px;
  }

  .article-headline {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .article-section {
    margin-bottom: 30px;
    padding: 0px 20px;
  }

  .article_type {
    font-size: 20px;
    letter-spacing: 6px;
  }

  .book-list-section {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .community-block {
    padding: 0px 5px;
  }

  .communty-form-heading h3 {
    font-size: 22px;
    margin-top: 30px;
  }

  .community-form-info {
    margin-bottom: 10px;
  }

  .featured-story-headline {
    font-size: 26px;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .featured-story-headline-right {
    margin-top: 15px;
  }

  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .page-headline{
    font-size: 40px;
    margin: 30px 0px 20px 0px;
  }

  .search-icon{
    /* border-bottom: 2px solid #ebebeb; */
  }

  .search-icon>input{
    font-size: 32px;
    font-weight: normal;
  }

  .topic_head {
    margin-bottom: 30px;
  }

  .topic-navigation {
    /* display: none; */
  }

  ul.search-icon{
    display: none;
  }

  .search-icon>input{
      border: 0px solid #ccc;
      webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
      box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
      webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  .tablet .LJ-image{
    width: 100px;
    padding-top: 30px;
    padding-left: 15px;
  }

  .menu {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .tablet-navbar .nav>li>a {
    padding: 9px 8px;
    font-size: 32px;
    line-height: 1.4;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .book-navigation {
    padding: 0px;
  }

  .book-navigation .navbar-default .navbar-nav>li>a {
    color: #808080 !important;
    padding: 0px;
    margin: 15px 6px;
    padding-bottom: 3px;
  }

  .book-review .book-name {
    font-size: 38px;
  }

  .book-review-image {
    height: 300px;
    width: 100%;
  }

  .filter-result{
    padding-right: 0px;
  }

  .hidden_in_768-991 {
    display: none !important;
  }

  .story-nav>li {
    float: left;
    width: 18%;
    border-bottom: 2px solid rgb(204, 204, 204);
    padding-right: 15px;
    margin-right: 2%;
    padding-left: 0px;
    margin-bottom: 3px;
    padding-bottom: 3px;
  }

  .tablet-navbar .nav>li>a {
    padding: 9px 8px;
    font-size: 14px;
  }

  .top-story-heading h1 {
    font-size: 44px;
  }

  .review-list-img{
  	height: 170px;
  }
}

@media screen and (max-width: 991px) {
  .hidden_down_991 {
    display: none !important;
  }

  .tablet .LJ-image{
    width: 100px;
    padding-top: 30px;
  }

  .tablet-navbar .nav{
    margin-top: 5px;
  }

  .tablet-navbar{
    padding-right: 15px !important;
  }
}

@media screen and (max-width: 767px){

  .more-anchor {
    float: left;
    padding-left: 20px;
  }

  .story-section{
    padding-right: 0px;
  }

  .story-section .story-detail{
    padding-left: 20px !important;
    padding-right: 20px;
    padding-top: 15px;
  }

  .subscribe-callout-today h3 {
    font-size: 20px !important;
  }

  .tablet-navbar .nav {
      margin-top: 30px;
  }
  .topic-navigation li>a {
    text-align: center;
  }
  .topic-navigation li {
    padding-right: 0px !important;
  }

  #newsId {
    /* padding-left: 11px !important; */
  }
}

.navbar-toggle {
  margin: 0px;
  border: 0px solid transparent;
}

.navbar-toggle>img{
  /* width: 50px;
  margin-top: 10px; */
}

/* Header End*************************************************************/

/* REVIEWS Start******************************************************/
@media screen and (min-width: 425px) {
  .review-list{
	width: 20%;
	}
}

.review-list{
	height: 500px;
	margin-top: 10px;
	margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .article-headline {
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .article-section {
    margin-bottom: 50px;
  }

  .book-list-section {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .review-content{
    /* margin-left: -2%; */
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    float: left;
  }
}
/* REVIEWS End******************************************************/

/* Display & Hide classes Start ************************************/
@media screen and (min-width: 768px) {
  .community-block {
    padding: 0px 30px;
  }

  .communty-form-heading h3 {
    font-size: 26px;
    margin-top: 60px;
  }

  .community-form-info {
    margin-bottom: 20px;
  }

  .content{
    padding-top: 40px;
  }

  #filter {
    display: block !important;
  }

  .featured-story-section {
    margin-bottom: 30px;
  }

  .hidden-md-up{
    display: none !important;
  }

  .filter-section-heading {
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 85px;
  }

  .filtered-document-headline {
    font-size: 22pt;
  }

  .page-headline{
    font-size: 74px;
    /* padding: 0px 70px; */
    margin: 50px 0px 40px 0px;
  }

  .checkout-page-headline {
    font-size: 48px;
    /* padding: 0px 70px; */
    margin: 50px 0px 30px 0px;
    text-align: left;
  }

  .panel {
    border-bottom: 1px solid #d8d8d8 !important;
  }

  .review-book-detail {
    padding-right: 0px;
  }

  .top-story-type{
  	margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {

  .book-column {
    padding-left: 0px;
    padding-right: 0px;
  }

  #filter {
    display: none;
  }

  .hidden-md-down{
    display: none !important;
  }

  .filters {
    float: left;
    width: 100%;
    padding-left: 15px !important;
    text-align: center;
  }

  .filters > #filter {
    border-bottom: 1px solid;
    margin-bottom: 30px;
  }

  .filter-heading {
    font-size: 25px;
  }

  .filter-heading a i {
    float: none;
    font-size: 25px;
  }

  .filter-section-heading {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .filtered-document-headline {
    font-size: 24px;
  }

  .recommended {
    margin-top: 20px;
  }

  .recommended-image {
    margin-bottom: 15px;
  }

  .recommended .review-headline {
    margin-bottom: 30px;
  }

  .story-para > h1 {
    margin: 23px 0px;
    font-size: 30px;
  }

  .story-para {
    font-size: 16px;
    line-height: 1.56;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }

  .top-story-type{
  	margin-top: 15px;
  }
}

/* Display & Hide classes End **************************************/
@media screen and (min-width: 992px) {

  .article_column{
    padding-right: 0px !important;
  }

  .book-review .book-detail {
    font-size: 14px;
  }

  .book-review-detail {
    padding-left: 6%;
    padding-right: 7%;
    width: 100%;
    float: left;
  }

  .book-review-image {
  	height: 360px;
  	width: 100%;
  }

  .book-review-list-image {
    min-width: 190px;
    min-height: 290px;
    width: 100%
  }

  .book-section {
    padding: 0px 50px;
  }

  .hidden_up_992 {
    display: none !important;
  }

  .password-margin {
  	margin-bottom: 0px;
  }

  .review-list-img{
  	height: 270px;
    margin: auto;
  }

  .review-social-share ul li {
    /* border-right: 2px solid #e4e4e4;
    margin-right: 15px; */
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .book-navigation {
    padding: 0px 10px;
  }

  .book-navigation .navbar-default .navbar-nav>li>a {
    margin: 15px 15px;
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .top-center-desc {
    font-family: 'Portrait';
    margin-top: 15px;
    font-size: 21px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 550px) {
  .article-detail .story-detail {
    margin-top: 15px;
    padding: 0px 20px;
  }

  .article-detail .byline-detail {
    margin-bottom: 25px;
  }

  .book-review-landing-image {
    max-height: 190px;
    max-width: 100px;
    width: 100%;
    float: right;
  }

  .carousel-development-career #careerCarousel{
    height: 435px;
  }

  .date-range > input {
    width: 60%;
  }

  .date-range > button {
    width: 60% !important;
  }

  .review-headline {
    font-size: 20px;
  }

  .social-share > ul{
  	text-align: center;
  }

  .social-share > ul > li > a {
    margin: 0px 1%;
  }

  .social-share > ul > li > a:first-child {
    margin-left: 0px;
  }

  .specific-author > input {
    width: 60% !important;
  }

  .specific-author > button {
    width: 60% !important;
  }

}

@media screen and (min-width: 551px) {
  .article-detail .story-detail {
    margin-top: 30px;
  }

  .carousel-development-career #careerCarousel{
    height: 590px;
  }

  .review-headline {
    font-size: 24px;
  }

  .social-share-right {
    float: right;
  }
}

@media screen and (min-width: 426px) and (max-width: 550px) {

  .book-review-list-image {
    width: 100%;
    min-width: 90px;
    max-width: 140px;
    min-height: 160px;
    float: right;
    padding-right: 17px;
  }

  #reviewCarousel {
    height: 390px;
  }

  .carousel-development-career #developmentCarousel{
    height: 435px;
  }

  .story-first-para {
    line-height: 1.1;
    font-size: 30px;
  }

  .tabbed-navbar-default {
      overflow-y: scroll;
      /* width: 100%; */
      margin-bottom: 15px !important;
      padding: 0px 15px;
  }

  .tabbed-navbar-default .nav {
    width: 200%;
    float: left;
    display: inline-block;
    margin-left: 0px;
    margin-bottom: 10px !important;
  }
}

@media screen and (min-width: 551px) and (max-width: 767px) {
  /* .carousel-development-career {
    height: 450px;
  } */

  .book-review-landing-image {
    max-height: 190px;
    max-width: 125px;
    width: 100%;
    float: right;
  }

  .book-review-list-image {
    width: 100%;
    min-width: 90px;
    max-width: 145px;
    min-height: 190px;
    float: right;
    padding-right: 17px;
  }


  .date-range > input {
    width: 50%;
  }

  .date-range > button {
    width: 50% !important;
  }

  #reviewCarousel {
    height: 420px;
  }

  .specific-author > input {
    width: 50% !important;
  }

  .specific-author > button {
    width: 50% !important;
  }

  .tabbed-navbar-default .nav {
    /* display: inline; */
    width: 100%;
    /* float: left; */
    padding-right: 0px;
    margin-right: 0px !important;
    padding-left: 15px;
  }

  .story-detail .byline-detail {
    width: 50%;
  }

  .story-detail .social-share {
    width: 50%;
  }

  .story-first-para {
    line-height: 1.1;
    font-size: 30px;
  }

  .story-nav>li {
    float: left;
    width: 19%;
    border-bottom: 2px solid rgb(204, 204, 204);
    padding-right: 0px;
    margin-right: 1%;
    padding-left: 0px;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

  .top-story-heading h3{
    font-size: 42px;
  }
}

@media screen and (min-width: 1200px){
  /* .review-social-share ul li {
    border-right: 2px solid #e4e4e4;
    margin-right: 18px;
  } */

  .book-review-detail {
    padding-left: 14%;
    padding-right: 12%;
    width: 100%;
    float: left;
  }

  .review-list-img{
  	height: 270px;
    width: 360px;
    margin: auto;
  }

  .section-image img{
    height: 270px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px)  {
  .LJ-image {
    margin: 15px !important;
    height: 30px !important;
    width: 98px;
  }
  img.lines {
    width: 40px;
  }
  img.cross {
    width: 40px;
  }
  .mobile-view {
    width: 100% !important;
  }
  .resp-mb-20 {
    margin-bottom: 20px !important;
  }
  .resp-mt-10 {
    margin-top: 10px !important;
  }
  .resp-mt-20 {
    margin-top: 20px !important;
  }
  .resp-no-padding {
    padding: 0 !important;
  }
  .resp-no-margin {
    margin: 0 !important;
  }
  .resp-full-width {
    width: 100% !important;
  }
  .resp_align_left {
    text-align: left !important;
  }
  .resp-margin-auto {
    margin: auto !important;
  }
  .tabcontentSection {
    padding-left: 0 !important;
  }
  .savedArticle >li {
    width: 44% !important;
  }
  .myprofile >li {
    width: 25% !important;
  }
  .resp-word-break {
    word-break: break-all;
  }
}

@media only screen  and (min-width: 768px) and (max-width: 1024px) {
  .topic-navigation li {
    padding-right: 0 !important;
    padding-left: 0;
  }
  li.search-bar {
    margin-left: 0!important ;
  }
}

@media (min-width: 768px){
.modal-dialog {
    width: 350px !important;
}

/* Print styling */
@media print {
  #advertisement {
    display: none !important;
  }
  #header {
    display: none !important;
  }
  #footer {
    display: none !important;
  }
}
